/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ *//*	TODO will need to remove settings on HTML since we can't namespace it.	TODO with the prefix, should I group by selector or property for weight savings?*/html{	color:#000;	background:#FFF;}/*	TODO remove settings on BODY since we can't namespace it.*//*	TODO test putting a class on HEAD.		- Fails on FF. */body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {	margin:0;	padding:0;}table {	border-collapse:collapse;	border-spacing:0;}fieldset,img {	border:0;}/*	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/address,caption,cite,code,dfn,em,strong,th,var {	font-style:normal;	font-weight:normal;} ol,ul {	list-style:none;} caption,th {	text-align:left;}h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal;}q:before,q:after {	content:'';}abbr,acronym {	border:0;	font-variant:normal;}/* to preserve line-height and selector appearance */sup {	vertical-align:text-top;}sub {	vertical-align:text-bottom;}input,textarea,select {	font-family:inherit;	font-size:inherit;	font-weight:inherit;}/*to enable resizing for IE*/input,textarea,select {	*font-size:100%;}/*because legend doesn't inherit in IE */legend {	color:#000;}/* YUI CSS Detection Stamp */#yui3-css-stamp.cssreset { display: none; }
/** YUI base css */ body{margin:10px}h1{font-size:138.5%}h2{font-size:123.1%}h3{font-size:108%}h1,h2,h3{margin:1em 0}h1,h2,h3,h4,h5,h6,strong,dt{font-weight:bold}optgroup{font-weight:normal}abbr,acronym{border-bottom:1px dotted #000;cursor:help}em{font-style:italic}del{text-decoration:line-through}blockquote,ul,ol,dl{margin:1em}ol,ul,dl{margin-left:2em}ol{list-style:decimal outside}ul{list-style:disc outside}dl dd{margin-left:1em}th,td{border:1px solid #000;padding:.5em}th{font-weight:bold;text-align:center}caption{margin-bottom:.5em;text-align:center}sup{vertical-align:super}sub{vertical-align:sub}p,fieldset,table,pre{margin-bottom:1em}button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px}img{-ms-interpolation-mode:bicubic}

HTML, BODY {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
BODY {
	font-family: Arial;
	background: url(../images/body-bg.jpg) no-repeat center center;
}
#pages {

}
.block {
	background-color: #F00;
}
/*page setup*/

.ui-page {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: none;
	border: 0;
}

.ui-page-active {
	display: block;
	overflow: visible;
}

.ui-page {
	outline: none;
}

.ui-transitioning,
.ui-transitioning .ui-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*transitions*/

.ui-page-pre-in {
	opacity: 0;
}

.in {
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-fill-mode: both;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}

.out {
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	-moz-animation-fill-mode: both;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 225ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade.out {
	opacity: 0;
	-webkit-animation-duration: 125ms;
	-webkit-animation-name: fadeout;
	-moz-animation-duration: 125ms;
	-moz-animation-name: fadeout;
	animation-duration: 125ms;
	animation-name: fadeout;
}

.fade.in {
	opacity: 1;
	-webkit-animation-duration: 225ms;
	-webkit-animation-name: fadein;
	-moz-animation-duration: 225ms;
	-moz-animation-name: fadein;
	animation-duration: 225ms;
	animation-name: fadein;
}

.pop {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.pop.in {
	-webkit-transform: scale(1);
	-webkit-animation-name: popin;
	-webkit-animation-duration: 350ms;
	-moz-transform: scale(1);
	-moz-animation-name: popin;
	-moz-animation-duration: 350ms;
	transform: scale(1);
	animation-name: popin;
	animation-duration: 350ms;
	opacity: 1;
}

.pop.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
	opacity: 0;
}

.pop.in.reverse {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	animation-name: fadein;
}

.pop.out.reverse {
	-webkit-transform: scale(.8);
	-webkit-animation-name: popout;
	-moz-transform: scale(.8);
	-moz-animation-name: popout;
	transform: scale(.8);
	animation-name: popout;
}

@-webkit-keyframes popin {
	from {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes popin {
	from {
		-moz-transform: scale(.8);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

@keyframes popin {
	from {
		transform: scale(.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes popout {
	from {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
}

@-moz-keyframes popout {
	from {
		-moz-transform: scale(1);
		opacity: 1;
	}
	to {
		-moz-transform: scale(.8);
		opacity: 0;
	}
}

@keyframes popout {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(.8);
		opacity: 0;
	}
}

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideinfromright {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(0);
	}
}

@keyframes slideinfromright {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideinfromleft {
	from {
		-webkit-transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideinfromleft {
	from {
		-moz-transform: translateX(-100%);
	}
	to {
		-moz-transform: translateX(0);
	}
}

@keyframes slideinfromleft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@-moz-keyframes slideouttoleft {
	from {
		-moz-transform: translateX(0);
	}
	to {
		-moz-transform: translateX(-100%);
	}
}

@keyframes slideouttoleft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@-webkit-keyframes slideouttoright {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(100%);
	}
}

@-moz-keyframes slideouttoright {
	from {
		-moz-transform: translateX(0);
	}
	to {
		-moz-transform: translateX(100%);
	}
}

@keyframes slideouttoright {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

.slide.out, .slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}

.slide.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
}

.slide.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromright;
	transform: translateX(0);
	animation-name: slideinfromright;
}

.slide.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	transform: translateX(100%);
	animation-name: slideouttoright;
}

.slide.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromleft;
	transform: translateX(0);
	animation-name: slideinfromleft;
}

.slidefade.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-webkit-animation-duration: 225ms;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	-moz-animation-duration: 225ms;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
	animation-duration: 225ms;
}

.slidefade.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-moz-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}

.slidefade.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	-moz-animation-duration: 200ms;
	transform: translateX(100%);
	animation-name: slideouttoright;
	animation-duration: 200ms;
}

.slidefade.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein -moz-animation-duration : 200 ms;
	transform: translateX(0);
	animation-name: fadein animation-duration : 200 ms;
}

/* slide down */
.slidedown.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}

.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfromtop;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfromtop;
	animation-duration: 250ms;
}

.slidedown.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}

.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	-webkit-animation-name: slideouttotop;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(-100%);
	-moz-animation-name: slideouttotop;
	-moz-animation-duration: 200ms;
	transform: translateY(-100%);
	animation-name: slideouttotop;
	animation-duration: 200ms;
}

@-webkit-keyframes slideinfromtop {
	from {
		-webkit-transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes slideinfromtop {
	from {
		-moz-transform: translateY(-100%);
	}
	to {
		-moz-transform: translateY(0);
	}
}

@keyframes slideinfromtop {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@-webkit-keyframes slideouttotop {
	from {
		-webkit-transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-100%);
	}
}

@-moz-keyframes slideouttotop {
	from {
		-moz-transform: translateY(0);
	}
	to {
		-moz-transform: translateY(-100%);
	}
}

@keyframes slideouttotop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

/* slide up */
.slideup.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}

.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfrombottom;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfrombottom;
	animation-duration: 250ms;
}

.slideup.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}

.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	-webkit-animation-name: slideouttobottom;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(100%);
	-moz-animation-name: slideouttobottom;
	-moz-animation-duration: 200ms;
	transform: translateY(100%);
	animation-name: slideouttobottom;
	animation-duration: 200ms;
}

@-webkit-keyframes slideinfrombottom {
	from {
		-webkit-transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes slideinfrombottom {
	from {
		-moz-transform: translateY(100%);
	}
	to {
		-moz-transform: translateY(0);
	}
}

@keyframes slideinfrombottom {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@-webkit-keyframes slideouttobottom {
	from {
		-webkit-transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(100%);
	}
}

@-moz-keyframes slideouttobottom {
	from {
		-moz-transform: translateY(0);
	}
	to {
		-moz-transform: translateY(100%);
	}
}

@keyframes slideouttobottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-flip {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	position: absolute;
}

.flip {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-moz-backface-visibility: hidden;
	-moz-transform: translateX(0);
	backface-visibility: hidden;
	transform: translateX(0);
}

.flip.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-moz-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 175ms;
}

.flip.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	-moz-animation-name: flipintoright;
	-moz-animation-duration: 225ms;
	animation-name: flipintoright;
	animation-duration: 225ms;
}

.flip.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}

.flip.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
	animation-name: flipintoleft;
}

@-webkit-keyframes flipouttoleft {
	from {
		-webkit-transform: rotateY(0);
	}
	to {
		-webkit-transform: rotateY(-90deg) scale(.9);
	}
}

@-moz-keyframes flipouttoleft {
	from {
		-moz-transform: rotateY(0);
	}
	to {
		-moz-transform: rotateY(-90deg) scale(.9);
	}
}

@keyframes flipouttoleft {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(-90deg) scale(.9);
	}
}

@-webkit-keyframes flipouttoright {
	from {
		-webkit-transform: rotateY(0);
	}
	to {
		-webkit-transform: rotateY(90deg) scale(.9);
	}
}

@-moz-keyframes flipouttoright {
	from {
		-moz-transform: rotateY(0);
	}
	to {
		-moz-transform: rotateY(90deg) scale(.9);
	}
}

@keyframes flipouttoright {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(90deg) scale(.9);
	}
}

@-webkit-keyframes flipintoleft {
	from {
		-webkit-transform: rotateY(-90deg) scale(.9);
	}
	to {
		-webkit-transform: rotateY(0);
	}
}

@-moz-keyframes flipintoleft {
	from {
		-moz-transform: rotateY(-90deg) scale(.9);
	}
	to {
		-moz-transform: rotateY(0);
	}
}

@keyframes flipintoleft {
	from {
		transform: rotateY(-90deg) scale(.9);
	}
	to {
		transform: rotateY(0);
	}
}

@-webkit-keyframes flipintoright {
	from {
		-webkit-transform: rotateY(90deg) scale(.9);
	}
	to {
		-webkit-transform: rotateY(0);
	}
}

@-moz-keyframes flipintoright {
	from {
		-moz-transform: rotateY(90deg) scale(.9);
	}
	to {
		-moz-transform: rotateY(0);
	}
}

@keyframes flipintoright {
	from {
		transform: rotateY(90deg) scale(.9);
	}
	to {
		transform: rotateY(0);
	}
}

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
	-webkit-perspective: 200px;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	perspective: 200px;
	position: absolute;
}

.turn {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-webkit-transform-origin: 0;

	-moz-backface-visibility: hidden;
	-moz-transform: translateX(0);
	-moz-transform-origin: 0;

	backface-visibility: hidden;
	transform: translateX(0);
	transform-origin: 0;
}

.turn.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 125ms;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-moz-animation-duration: 125ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 125ms;
}

.turn.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 250ms;
	-moz-animation-name: flipintoright;
	-moz-animation-duration: 250ms;
	animation-name: flipintoright;
	animation-duration: 250ms;

}

.turn.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}

.turn.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
	animation-name: flipintoleft;
}

@-webkit-keyframes flipouttoleft {
	from {
		-webkit-transform: rotateY(0);
	}
	to {
		-webkit-transform: rotateY(-90deg) scale(.9);
	}
}

@-moz-keyframes flipouttoleft {
	from {
		-moz-transform: rotateY(0);
	}
	to {
		-moz-transform: rotateY(-90deg) scale(.9);
	}
}

@keyframes flipouttoleft {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(-90deg) scale(.9);
	}
}

@-webkit-keyframes flipouttoright {
	from {
		-webkit-transform: rotateY(0);
	}
	to {
		-webkit-transform: rotateY(90deg) scale(.9);
	}
}

@-moz-keyframes flipouttoright {
	from {
		-moz-transform: rotateY(0);
	}
	to {
		-moz-transform: rotateY(90deg) scale(.9);
	}
}

@keyframes flipouttoright {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(90deg) scale(.9);
	}
}

@-webkit-keyframes flipintoleft {
	from {
		-webkit-transform: rotateY(-90deg) scale(.9);
	}
	to {
		-webkit-transform: rotateY(0);
	}
}

@-moz-keyframes flipintoleft {
	from {
		-moz-transform: rotateY(-90deg) scale(.9);
	}
	to {
		-moz-transform: rotateY(0);
	}
}

@keyframes flipintoleft {
	from {
		transform: rotateY(-90deg) scale(.9);
	}
	to {
		transform: rotateY(0);
	}
}

@-webkit-keyframes flipintoright {
	from {
		-webkit-transform: rotateY(90deg) scale(.9);
	}
	to {
		-webkit-transform: rotateY(0);
	}
}

@-moz-keyframes flipintoright {
	from {
		-moz-transform: rotateY(90deg) scale(.9);
	}
	to {
		-moz-transform: rotateY(0);
	}
}

@keyframes flipintoright {
	from {
		transform: rotateY(90deg) scale(.9);
	}
	to {
		transform: rotateY(0);
	}
}

/* flow transition */
.flow {
	-webkit-transform-origin: 50% 30%;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	-moz-transform-origin: 50% 30%;
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	transform-origin: 50% 30%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.ui-dialog.flow {
	-webkit-transform-origin: none;
	-webkit-box-shadow: none;
	-moz-transform-origin: none;
	-moz-box-shadow: none;
	transform-origin: none;
	box-shadow: none;
}

.flow.out {
	-webkit-transform: translateX(-100%) scale(.7);
	-webkit-animation-name: flowouttoleft;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(-100%) scale(.7);
	-moz-animation-name: flowouttoleft;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(-100%) scale(.7);
	animation-name: flowouttoleft;
	animation-timing-function: ease;
	animation-duration: 350ms;
}

.flow.in {
	-webkit-transform: translateX(0) scale(1);
	-webkit-animation-name: flowinfromright;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(0) scale(1);
	-moz-animation-name: flowinfromright;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(0) scale(1);
	animation-name: flowinfromright;
	animation-timing-function: ease;
	animation-duration: 350ms;
}

.flow.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: flowouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: flowouttoright;
	transform: translateX(100%);
	animation-name: flowouttoright;
}

.flow.in.reverse {
	-webkit-animation-name: flowinfromleft;
	-moz-animation-name: flowinfromleft;
	animation-name: flowinfromleft;
}

@-webkit-keyframes flowouttoleft {
	0% {
		-webkit-transform: translateX(0) scale(1);
	}
	60%, 70%

{
	-webkit-transform: translateX(0) scale(.7)
;
}
100
%
{
	-webkit-transform: translateX(-100%) scale(.7)
;
}
	}

@-moz-keyframes flowouttoleft {
	0% {
		-moz-transform: translateX(0) scale(1);
	}
	60%, 70%

{
	-moz-transform: translateX(0) scale(.7)
;
}
100
%
{
	-moz-transform: translateX(-100%) scale(.7)
;
}
	}

@keyframes flowouttoleft {
	0% {
		transform: translateX(0) scale(1);
	}
	60%, 70%

{
	transform: translateX(0) scale(.7)
;
}
100
%
{
	transform: translateX(-100%) scale(.7)
;
}
	}

@-webkit-keyframes flowouttoright {
	0% {
		-webkit-transform: translateX(0) scale(1);
	}
	60%, 70%

{
	-webkit-transform: translateX(0) scale(.7)
;
}
100
%
{
	-webkit-transform: translateX(100%) scale(.7)
;
}
	}

@-moz-keyframes flowouttoright {
	0% {
		-moz-transform: translateX(0) scale(1);
	}
	60%, 70%

{
	-moz-transform: translateX(0) scale(.7)
;
}
100
%
{
	-moz-transform: translateX(100%) scale(.7)
;
}
	}

@keyframes flowouttoright {
	0% {
		transform: translateX(0) scale(1);
	}
	60%, 70%

{
	transform: translateX(0) scale(.7)
;
}
100
%
{
	transform: translateX(100%) scale(.7)
;
}
	}

@-webkit-keyframes flowinfromleft {
	0% {
		-webkit-transform: translateX(-100%) scale(.7);
	}
	30%, 40%

{
	-webkit-transform: translateX(0) scale(.7)
;
}
100
%
{
	-webkit-transform: translateX(0) scale(1)
;
}
	}

@-moz-keyframes flowinfromleft {
	0% {
		-moz-transform: translateX(-100%) scale(.7);
	}
	30%, 40%

{
	-moz-transform: translateX(0) scale(.7)
;
}
100
%
{
	-moz-transform: translateX(0) scale(1)
;
}
	}

@keyframes flowinfromleft {
	0% {
		transform: translateX(-100%) scale(.7);
	}
	30%, 40%

{
	transform: translateX(0) scale(.7)
;
}
100
%
{
	transform: translateX(0) scale(1)
;
}
	}

@-webkit-keyframes flowinfromright {
	0% {
		-webkit-transform: translateX(100%) scale(.7);
	}
	30%, 40%

{
	-webkit-transform: translateX(0) scale(.7)
;
}
100
%
{
	-webkit-transform: translateX(0) scale(1)
;
}
	}

@-moz-keyframes flowinfromright {
	0% {
		-moz-transform: translateX(100%) scale(.7);
	}
	30%, 40%

{
	-moz-transform: translateX(0) scale(.7)
;
}
100
%
{
	-moz-transform: translateX(0) scale(1)
;
}
	}

@keyframes flowinfromright {
	0% {
		transform: translateX(100%) scale(.7);
	}
	30%, 40%

{
	transform: translateX(0) scale(.7)
;
}
100
%
{
	transform: translateX(0) scale(1)
;
}
	}