<div id="test" style="width: 400px; height: 300px; padding: 20px; margin: 20px; text-align: center; border: 2px dashed #333; overflow: hidden; background-color: rgba(0, 0, 0, 0.25);"></div>

<div class="block">
	<a href="javascript:void(0)" ng-click="navi.back()">Back</a>
</div>

<script>

$(document).ready(function() {
	var events = [
		'tapstart',
		'tapend',
		'tap',
		'singletap',
		'doubletap',
		'taphold',
		'swipe',
		'swipeup',
		'swiperight',
		'swipedown',
		'swipeleft',
		'scrollstart',
		'scrollend',
		'orientationchange'
	];

	$('#test')
		.attr('unselectable', 'on')
		.css('user-select', 'none')
		.on('selectstart', false);

	$('#test').on(events.join(' '), function(e) {
		var divs = $(this).find('div'),
			divCount = divs.length,
			limit = 16;

		if (divCount > limit - 1) {
			$(divs.splice(0, divCount - (limit - 1))).remove();
		}

		$(this).append('<div>' + e.type + '</div>');
	});
});

</script>