<h1>{{title}}</h1>
<p>Language:
	<select ng-model="language" ng-options="lang.id as lang.name for lang in languages"></select>
	<div>{{language}}</div>
</p>
<p>Search: <input ng-model="query"></p>
<p>Name: <input ng-model="name"></p>
<p>Age: <input ng-model="age"></p>
<p>Sort by:
	<select ng-model="order">
		<option value="name">Alphabetical</option>
		<option value="age">Newest</option>
	</select>
</p>
<ul>
	<li ng-repeat="phone in phones | filter:query | orderBy:order">
		{{phone.name}}
		<p>{{phone.snippet}}</p>
	</li>
</ul>
<p>Query: {{query}}</p>
<p>Total number of phones: {{phones.length}}</p>

<ul>
	<li ng-repeat="contact in phonebook">
		<strong>{{contact.name}}</strong> {{contact.number}} <a ng-click="phonebook.splice($index,1)">Remove</a>
	</li>
</ul>
<p><input type="text" ng-model="contactName" placeholder="Contact name"> </p>
<p><input type="text" ng-model="contactNumber" placeholder="Contact number"> </p>
<button ng-click="phonebook.add(contactName, contactNumber)">Add entry</button>

<hr>

<p>Date format: <input ng-model="dateFormat"></p>
<p>Current time is: <span live-date="dateFormat"></span></p>

<p translate>hello-world</p>
<p translate="name">hello(name)</p>
<p translate="name,age">hello(name,age)</p>
<p translate="name, age">hello(name,age)</p>

<div class="block">
	<a href="javascript:void(0)" ng-click="navigationTest()">Navigate to second page</a> | <a href="javascript:void(0)" ng-click="back()">Back</a>
</div>