<h1>{{title}}</h1>
<p>Search: <input ng-model="query"></p>
<p>Sort by:
	<select ng-model="order">
		<option value="name">Alphabetical</option>
		<option value="age">Newest</option>
	</select></p>
<ul>
	<li ng-repeat="phone in phones | filter:query | orderBy:order">
		{{phone.name}}
		<p>{{phone.snippet}}</p>
	</li>
</ul>
<p>Query: {{query}}</p>
<p>Total number of phones: {{phones.length}}</p>

<hr>

<p>Date format: <input ng-model="dateFormat"></p>
<p>Current time is: <span live-date="dateFormat"></span></p>

<div class="block">
	<a href="javascript:void(0)" ng-click="navigationTest()">Navigate to second page</a> | <a href="javascript:void(0)" ng-click="back()">Back</a>
</div>